<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/css/feedback.css" />
    <title>Response</title>
  </head>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    html {
      font-size: 62.5%;
      font-family: Inter;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      height: 9.6rem;
      padding: 0 4.8rem;
      border-bottom: solid #d9d9d9 1px;
    }
    .tieu-de {
      margin-left: 40px;
      width: 154px;
      height: 27px;
      flex-shrink: 0;
      color: #000;

      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    ul.main-nav-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 3.2rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
      display: inline-block;
      text-decoration: none;
      color: #333;
      font-weight: 500;
      font-size: 1.8rem;
      transition: all 0.3s;
    }

    .main-nav-link.nav-cta:link,
    .main-nav-link.nav-cta:visited {
      padding: 1.2rem 2.4rem;
      border-radius: 9px;
      color: #fff;
      background-color: #e67e22;
    }

    .main-icon {
      width: 4rem;
      height: 4rem;
      display: flex;
      cursor: pointer;
      left: 50rem;
      top: 0.8rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("/image/img.png");
      border-radius: 2rem;
    }

    .side-bar {
      border-right: solid 2px #f5f5f5;
      background-color: #fff;
      display: flex;
      justify-content: center;
      top: 1rem;
      width: 270px;
      height: 1080px;
      z-index: -99;
    }
    .main-side-bar-list {
      margin-top: 2rem;
      list-style: none;
      align-items: center;
      gap: 3.2rem;
    }

    ul {
      list-style-type: none !important;
    }
    .main-side-bar-list li {
      width: 137px;
      height: 30px;
      flex-shrink: 0;
      color: #000;
      text-align: center;
      margin: 10px 0;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      list-style-type: none !important;
    }

    body {
      font-size: 14px;
    }
    .chat {
      width: 100%;
      height: 973px;
      opacity: 1;
      top: 20px;
      left: 0px;
    }

    .tk {
      width: 267px;
      height: 29px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      top: 120px;
      left: 270px;
      border: 1px solid rgba(217, 217, 217, 1);
      overflow: hidden;
    }

    .img-1 {
      width: 33px;
      height: 31px;
      background: url("/image/img.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 21px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }

    .chatbox {
      width: 920px;
      height: 49px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      top: 680px;
      left: 536px;
      border: 1px solid rgba(217, 217, 217, 1);
      border-top-left-radius: 17px;
      border-top-right-radius: 17px;
      border-bottom-left-radius: 17px;
      border-bottom-right-radius: 17px;
      overflow: hidden;
      vertical-align: bottom;
      text-align: center;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #a0dcc6;
    }
  </style>
  <body>
    <header class="header">
      <p class="tieu-de">Quản trị viên</p>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M5 7H19"
                stroke="#33363F"
                stroke-width="2"
                stroke-linecap="round"
              />
              <path
                d="M5 12H19"
                stroke="#33363F"
                stroke-width="2"
                stroke-linecap="round"
              />
              <path
                d="M5 17H19"
                stroke="#33363F"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6.44784 7.96942C6.76219 5.14032 9.15349 3 12 3V3C14.8465 3 17.2378 5.14032 17.5522 7.96942L17.804 10.2356C17.8072 10.2645 17.8088 10.279 17.8104 10.2933C17.9394 11.4169 18.3051 12.5005 18.8836 13.4725C18.8909 13.4849 18.8984 13.4973 18.9133 13.5222L19.4914 14.4856C20.0159 15.3599 20.2782 15.797 20.2216 16.1559C20.1839 16.3946 20.061 16.6117 19.8757 16.7668C19.5971 17 19.0873 17 18.0678 17H5.93223C4.91268 17 4.40291 17 4.12434 16.7668C3.93897 16.6117 3.81609 16.3946 3.77841 16.1559C3.72179 15.797 3.98407 15.3599 4.50862 14.4856L5.08665 13.5222C5.10161 13.4973 5.10909 13.4849 5.11644 13.4725C5.69488 12.5005 6.06064 11.4169 6.18959 10.2933C6.19123 10.279 6.19283 10.2645 6.19604 10.2356L6.44784 7.96942Z"
                stroke="#33363F"
                stroke-width="2"
              />
              <path
                d="M8 17C8 17.5253 8.10346 18.0454 8.30448 18.5307C8.5055 19.016 8.80014 19.457 9.17157 19.8284C9.54301 20.1999 9.98396 20.4945 10.4693 20.6955C10.9546 20.8965 11.4747 21 12 21C12.5253 21 13.0454 20.8965 13.5307 20.6955C14.016 20.4945 14.457 20.1999 14.8284 19.8284C15.1999 19.457 15.4945 19.016 15.6955 18.5307C15.8965 18.0454 16 17.5253 16 17"
                stroke="#33363F"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <rect
                x="4"
                y="6"
                width="16"
                height="12"
                rx="2"
                stroke="#33363F"
                stroke-width="2"
              />
              <path
                d="M4 9L11.1056 12.5528C11.6686 12.8343 12.3314 12.8343 12.8944 12.5528L20 9"
                stroke="#33363F"
                stroke-width="2"
              />
            </svg>
          </li>
          <li><div class="main-icon"></div></li>
        </ul>
      </nav>
    </header>
    <main class="grid-container">
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="side-bar col-2">
              <ul class="main-side-bar-list">
                <li>
                  <a style="text-decoration: none" href="d1.html"
                    >Bảng điều khiển</a
                  >
                </li>
                <li>
                  <a style="text-decoration: none" href="d2.html">Chuyên mục</a>
                </li>
                <li>
                  <a style="text-decoration: none" href="d3.html">Tin tức</a>
                </li>
                <li><a>Người dùng</a></li>
                <li>
                  <a style="text-decoration: none" href="d4.html">Phản hồi</a>
                </li>
              </ul>
            </div>
            <div class="chat col-9">
              <div class="table-content">
                <h2>Phản hồi</h2>

                <table>
                  <tr>
                    <th>Name User</th>
                    <th>Tour</th>
                    <th>Rate</th>
                    <th>Day</th>
                    <th>Note</th>
                    <!-- Thêm cột Tour -->
                  </tr>
                  <% feedbacks.forEach(function(feedback) { %>
                  <tr>
                    <td><%= feedback.name %></td>
                    <td><%= feedback.tour.name_tour %></td>
                    <td><%= feedback.rate %></td>
                    <td><%= feedback.day %></td>
                    <td><%= feedback.note %></td>

                    <!-- Thêm dòng này để hiển thị tên tour -->
                  </tr>
                  <% }); %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
